<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fang.dataclient.dao.PermissionMapper">
    <resultMap id="permissionResultMap" type="com.fang.dataclient.entity.Permission">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <result property="pId" column="pid"/>
        <result property="method" column="method"/>
    </resultMap>
    <select id="findPermissionsByUserId" resultMap="permissionResultMap">
        SELECT p.*
        FROM user u
        LEFT JOIN user_role ur ON u.id=ur.userid
        LEFT JOIN role r ON ur.roleid=r.id
        LEFT JOIN role_permission rp ON rp.roleid=r.id
        LEFT JOIN permission p ON p.id =rp.permissionid
        WHERE u.id=#{id}
    </select>
    <select id="findPermissionsByRoleId" resultType="com.fang.dataclient.entity.vo.PermissionVo">
        SELECT id,url,name FROM permission
        WHERE id in (SELECT permissionid FROM role_permission WHERE roleid=#{roleid})
    </select>
    <select id="findAllPermissions" resultType="com.fang.dataclient.entity.vo.PermissionVo">
        SELECT id,url,name FROM permission
    </select>
    <select id="findMenuByUserId" resultType="com.fang.dataclient.entity.vo.PermissionVo">
        SELECT p.id,url,p.name
        FROM user u
        LEFT JOIN user_role ur ON u.id=ur.userid
        LEFT JOIN role r ON ur.roleid=r.id
        LEFT JOIN role_permission rp ON rp.roleid=r.id
        LEFT JOIN permission p ON p.id =rp.permissionid
        WHERE u.id=#{id} AND pid=1
    </select>
    <insert id="addNewRolePermissions">
        INSERT INTO role_permission (roleid,permissionid) VALUES
        <foreach collection="permissionids" separator="," item="permissionid">
            (#{roleid},#{permissionid})
        </foreach>
    </insert>
    <delete id="deleteRolePermissionByRoleId">
        DELETE FROM role_permission
        WHERE roleid=#{roleid}
    </delete>
</mapper>