<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fang.marketmanage.dao.GoodInMapper">
    <resultMap id="goodInResultMap" type="com.fang.marketmanage.entity.GoodIn">
        <id property="id" column="id"/>
        <result property="date" column="date"/>
        <result property="supplierId" column="supplierid"/>
        <result property="goodId" column="goodid"/>
        <result property="quantity" column="quantity"/>
        <result property="unitId" column="unitid"/>
        <result property="price" column="price"/>
        <result property="paid" column="paid"/>
        <result property="userId" column="userid"/>
    </resultMap>
    <insert id="addNewGoodIn" parameterType="com.fang.marketmanage.entity.GoodIn">
        INSERT INTO goodin(date,supplierid,goodid,quantity,unitid,price,paid,userid) VALUES (#{date},#{supplierId},#{goodId},#{quantity},#{unitId},#{price},#{paid},#{userId})
    </insert>
    <select id="findGoodInList" resultMap="goodInResultMap">
        SELECT * FROM goodin
    </select>
    <select id="findGoodInById" resultMap="goodInResultMap">
        SELECT * FROM goodin
        WHERE id=#{id}
    </select>
    <delete id="deleteGoodInById">
        DELETE FROM goodin where id=#{id}
    </delete>
    <update id="updateGoodInById">
        UPDATE goodin
        <trim prefix="set" suffixOverrides=",">
            <if test="date != null">
                date = #{date},
            </if>
            <if test="supplierId != null and supplierId != ''">
                supplierid = #{supplierId},
            </if>
            <if test="goodId != null and goodId != ''">
                goodid = #{goodId},
            </if>
            <if test="quantity != null and quantity != '' or quantity == 0">
                quantity = #{quantity},
            </if>
            <if test="unitId != null and unitId != ''">
                unitid = #{unitId},
            </if>
            <if test="price != null and price != '' or price == 0">
                price = #{price},
            </if>
            <if test="paid != null and paid != '' or paid == 0">
                paid = #{paid},
            </if>
            <if test="userId != null and userId != ''">
                userid = #{userId},
            </if>
        </trim>
        WHERE id=#{id}
    </update>
    <select id="findGoodInListByName" resultMap="goodInResultMap">
        SELECT * FROM goodin WHERE goodid=(SELECT goodid FROM good WHERE name=#{name}
    </select>
    <select id="findGoodInListByDate" resultMap="goodInResultMap">
        SELECT * FROM goodin WHERE date=#{date}
    </select>
    <select id="findGoodInListByClerkName" resultMap="goodInResultMap">
        SELECT * FROM goodin WHERE userid=(SELECT userid FROM user WHERE username=#{username})
    </select>
    <update id="alterGoodInAutoIncrement">
        ALTER TABLE goodin auto_increment = 1
    </update>
</mapper>