<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fang.marketmanage.dao.SysLogMapper">
    <resultMap id="sysLogResultMap" type="com.fang.marketmanage.entity.SysLog">
        <id property="id" column="id"/>
        <result property="userId" column="userid"/>
        <result property="userPhone" column="userphone"/>
        <result property="username" column="username"/>
        <result property="operation" column="operation"/>
        <result property="method" column="method"/>
        <result property="ip" column="ip"/>
        <result property="createDate" column="create_date"/>
    </resultMap>
    <insert id="addNewSysLog" parameterType="com.fang.marketmanage.entity.SysLog">
        INSERT INTO sys_log(userid,userphone,username,operation,method,ip,create_date)
        VALUES (#{userId},#{userPhone},#{username},#{operation},#{method},#{ip},#{createDate})
    </insert>
    <insert id="addNewLoginLog" parameterType="com.fang.marketmanage.entity.SysLog">
        INSERT INTO login_log(userid,userphone,username,operation,method,ip,create_date)
        VALUES (#{userId},#{userPhone},#{username},#{operation},#{method},#{ip},#{createDate})
    </insert>
    <select id="findSysLogList" resultMap="sysLogResultMap">
        SELECT * FROM sys_log
    </select>
    <select id="findLoginLogList" resultMap="sysLogResultMap">
        SELECT * FROM login_log
    </select>
    <delete id="deleteAllSysLog">
        DELETE FROM sys_log
    </delete>
    <delete id="deleteAllLoginLog">
        DELETE FROM login_log
    </delete>
    <update id="alterAutoIncrement">
        ALTER TABLE sys_log auto_increment = 1
    </update>
</mapper>