<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fang.marketmanage.dao.WorkTimeMapper">
    <resultMap id="workTimeResultMap" type="com.fang.marketmanage.entity.WorkTime">
        <id property="id" column="id"/>
        <result property="userId" column="userid"/>
        <result property="sDate" column="sdate"/>
        <result property="eDate" column="edate"/>
        <result property="workDay" column="workday"/>
    </resultMap>
    <insert id="addNewWorkTime" parameterType="com.fang.marketmanage.entity.WorkTime">
        INSERT INTO worktime(userid,sdate,edate,workday)
        VALUES (#{userId},#{sDate},#{eDate},#{workDay})
    </insert>
    <select id="findWorkTimeList" resultMap="workTimeResultMap">
        SELECT * FROM worktime
    </select>
    <delete id="deleteWorkTimeById">
        DELETE FROM worktime
        WHERE id=#{id}
    </delete>
    <update id="updateWorkTimeById">
        UPDATE worktime w
        <trim prefix="set" suffixOverrides=",">
            <if test="userId != null">
                w.userid = #{userId},
            </if>
            <if test="sDate != null">
                w.sdate = #{sDate},
            </if>
            <if test="sDate != null">
                w.edate = #{eDate},
            </if>
            <if test="workDay != null and workDay != ''">
                w.workday = #{workDay},
            </if>
        </trim>
        WHERE id=#{id}
    </update>
    <select id="searchWorkTimeByUsername" resultMap="workTimeResultMap">
        SELECT * FROM worktime WHERE userid=(SELECT userid FROM user WHERE username=#{username}
    </select>
</mapper>